@import '_vars';
@import 'modules/header';
@import 'modules/bio';

.hidden { display: none;}

body{
    font-family: 'Barlow', sans-serif;
}

h2{
    font-size: 12px;
    color: $beige;
    font-weight: 100;
}

a{
    text-decoration: none;
    color: $beige;
}

a:hover{
    text-decoration: underline;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {

}

@media screen and (min-width: 1024px)  {
    
}


