<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/css/reset.css' />
    <link rel='stylesheet' href='/css/style.css' />
    <link href="https://fonts.googleapis.com/css?family=Barlow&display=swap" rel="stylesheet">
  </head>
  <body>
    {{{body}}}
  </body>
  <script src="js/main.js"></script>
</html>
