// Bio
.bio{
    width: 80%;
    border-left: 2px solid $grey;
    margin: 30px 20px;
}

.bio p{
    font-size: 18px;
    color: $grey;
    line-height: 20px;
    padding-left: 20px;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    
    .bio{
        width: 80%;
        border-left: 2px solid $grey;
        margin: 50px 70px;
    }
    
    .bio p{
        font-size: 30px;
        color: $grey;
        line-height: 40px;
    }
}

@media screen and (min-width: 1024px)  {
    .bio{
        width: 80%;
        border-left: 2px solid $grey;
        margin: 50px 60px;
    }
    
    .bio p{
        font-size: 30px;
        color: $grey;
        line-height: 32px;
    }
    .bio img{
        width: 5000px;
    }
}