footer{
    background-color: $grey;
    padding: 100px 20px;
    margin-top: 50px;
    justify-content: space-around;
}

footer h2{
    font-size: 40px;
}
footer a{
    text-decoration: none;
    color: $beige;
}
a:hover {
    text-decoration: underline;
  }


footer  ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

footer p{
    color: $beige;
    margin-bottom: 100px;
    font-size: 20px;
}

label{
    color: $beige;
}

input{
    background: none;
    border: none;
    border-bottom:solid 2px $beige;
    margin: 10px 0;
    width: 100%;
}

.social{
    text-align: center;
    padding-top: 50px;
    line-height: 60px;
}



@media screen and (min-width: 768px) and (max-width: 1023px) {
    
    .contact{
   margin-left: 60px;
    }
    footer p{
        color: $beige;
        margin-bottom: 100px;
        font-size: 20px;
        
    }
    
    label{
        color: $beige;
    }
    
    input{
        background: none;
        border: none;
        border-bottom:solid 2px $beige;
        margin: 10px 0;
        width: 90%;
    }
    
    .social{
        text-align: center;
        padding-top: 50px;
        line-height: 60px;
    }

   
    footer  ul{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        font-size: 25px;
        padding: 30px 0 50px 0;

        
    }

    a:hover {
        text-decoration: underline;
      }

}

@media screen and (min-width: 1024px)  {

    footer{
        background-color: $grey;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    
    .contact{
        margin-left: 30px;
        width: 500px;
         }
         
         footer p{
             color: $beige;
             margin-bottom: 100px;
             font-size: 20px;
             
         }
         
         label{
             color: $beige;
         }
         
         input{
             background: none;
             border: none;
             border-bottom:solid 2px $beige;
             margin: 10px 0;
             width: 90%;
         }
         
         .social{
             text-align: center;
             padding-top: 50px;
             line-height: 60px;
             width: 500px;
         }
     
        
         footer  ul{
             display: flex;
             flex-direction: row;
             justify-content: space-around;
             font-size: 25px;
             padding: 30px 0 50px 0;
     
             
         }
     
         a:hover {
             text-decoration: underline;
           }
}