// Header
#main-head{
    background-color: #313131;
    text-align: center;
    height: 100vh;
}
.header_text h2{
    font-size: 25px;
    line-height: 35px;
    padding: 50px 20px;
}

#logo img{
    width: 30%;
    padding-top: 20px;
    padding-bottom: 20px;
    }




    @media screen and (min-width: 768px) and (max-width: 1023px) {


        .header_text h2{
            font-size: 3em;
            line-height: 1.5em;
            padding: 50px 20px;
        }
        
        #logo img{
            width: 20%;
            padding-top: 40px;
            padding-bottom: 40px;
            }
        
    }

    @media screen and (min-width: 1024px)  {
    
        .header_text h2{
            font-size: 50px;
            line-height: 50px;
            padding: 130px 40px;
        }
        #logo img{
            width: 20%;
            padding-top: 50px;
            padding-bottom: 50px;
            }
    }
    
    