.project {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

#project {
    justify-content: center;
    margin: 20px;
    width: 300px;

    .photo_project{
      text-align: center;
    }

    img{
        width: 100%;
    }


}

.details{
   margin-top: 30px;
   margin-bottom: 50px;
   padding-left: 20px;
   border-left: 2px solid $grey;
}


.project2 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 90%;
}
#project2 {
    justify-content: center;
    margin: 40px 0px 40px 20px;

    .photo_project{
      text-align: center;
    }

    img{
        width: 100%;
    }


}


.details2{
    margin-top: 30px;
    margin-bottom: 50px;
    padding-left: 20px;
    border-left: 2px solid $grey;
}

.project img:hover{

    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);

}
.project2 img:hover{

    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);

}



@media screen and (min-width: 768px) and (max-width: 1023px) {
    
    .project{
        flex-direction: row;
        flex-wrap: wrap;
        width: 740px;
    }
    #project {
        justify-content: center;
        margin: 30px;
        width: 320px;
    
        .photo_project{
          text-align: center;
        }
    
        img{
            width: 100%;
        }
    
    
    }

    #project2 {
        justify-content: center;
        margin: 40px 0px 40px 60px;
    
        .photo_project{
          text-align: center;
        }
    
        img{
            width: 100%;
        }
    
    
    }
    

}

@media screen and (min-width: 1024px)  {
    .project{
        flex-direction: row;
        flex-wrap: wrap;
        width: 740px;
    }
    #project {
        justify-content: center;
        margin: 70px;
        width: 400px;
    
        .photo_project{
          text-align: center;
        }
    
        img{
            width: 100%;
        }
    
    
    }

    #project2 {
        justify-content: center;
      
        padding: 40px;
    
        .photo_project{
          text-align: center;
        }
    
        img{
            width: 100%;
        }
    .details2{
    margin-top: 30px;
    margin-bottom: 80px;
    padding-left: 20px;
    border-left: 2px solid $grey;
}
    
    }
}

